<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFileTransferService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65254/FileTransferService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService"
                contract="IFileTransferService" name="BasicHttpBinding_IFileTransferService" />
        </client>
    </system.serviceModel>
</configuration>